<%- include('./templates/header') %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Cadastrar Produto
  </button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Fornecedor</th>
        <th scope="col">Descrição</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% produtos.forEach((pr) => {%>
        <tr>
          <th scope="row"><%=pr._id%></th>
          <td><%= pr.nome %></td>
          <td><%= pr.preco %></td>
          <td><%= pr.fornecedor %></td>
          <td><%= pr.descricao %></td>
          <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#editar" onclick="hiddenID('<%=pr._id%>')">
            Editar
          </button>
          <a class="btn btn-danger" href="/excluir/<%= pr._id%>">Deletar</a>
        </td>
        </tr>
      <%})%>
        
      
      
    </tbody>
  </table>




  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de Produtos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/CadastraProduto" method="post">
          <div class="row">
            <div class="col">
              Nome:<input type="text" name="nome" id="" class="form-control" placeholder="">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              Fornecedor:<input type="text" name="fornecedor" id="" class="form-control" placeholder="">
            </div>
            <div class="col-6">
              Preço:<input type="number" name="preco" id="" class="form-control" placeholder="">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Descricao
              <textarea name="descricao" id="" cols="30" rows="5" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>

      </div>
    
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Produtos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 
        <form action="/editar" method="post">
          <div class="row">
            <div class="col">
              Nome:<input type="text" name="nome" id="" class="form-control" placeholder="">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              Fornecedor:<input type="text" name="fornecedor" id="" class="form-control" placeholder="">
            </div>
            <div class="col-6">
              Preço:<input type="number" name="preco" id="" class="form-control" placeholder="">
            </div>
          </div>

          <div class="row">
            <div class="col">
              Descricao
              <textarea name="descricao" id="" cols="30" rows="5" class="form-control" placeholder=""></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
          <input type="hidden" name="hdId" id="hdId">
        </form>

      </div>
    
    </div>
  </div>
</div>
<script>
  function hiddenID(id){
    if (id){
      document.getElementById("hdId").value = id
    }
  }
</script>
<%- include('./templates/footer') %>